<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
    </style>
</head>
<body>
    <div class="auth-container">
        <div class="auth-panel">
            <h2>Create a new account</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group-log">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-message">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group-log">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error-message">
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group-log">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error-message">
                            {% for error in form.password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group-log">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error-message">
                            {% for error in form.password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn-log">Sign Up</button>
            </form>
            <p class="auth-link">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
</body>
</html>
